.cat-playlists {
    color: #fff;
    .hero-section {
        width: 100%;
        min-height: 315px;
        background: #2d2d2d url('https://unsplash.it/g/978/300?random') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 20px;
        img {
            margin-right: 30px;
        }
        .info-section {
            color: #fff;
            align-self: flex-end;
            p {
                text-shadow: 0 0 22px rgba(0,0,0,0.8);
                font-size: 50px;
                font-weight: 300;
            }
        }
    }
    .playlists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;     
    }
}
