.track-item {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    .play-button {
        display: inherit;
        cursor: pointer;
        i.material-icons {
            font-size: 30px;
            transition: all 0.2s;
            &:before {
                content: '\E039';
            }
        }
    }
    &:hover {
        i.material-icons:before {
            content: '\E038';
        }
    }
    p {
        cursor: pointer;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 0 1 30%;
        margin-left: 10px;
        overflow-x: hidden;
        text-align: left;
        &.song-name {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .name {
                flex: 0 1 70%;
            }
            .explicit-callout {
                color: white;
                flex: none;
                flex-basis: 49px;
                padding: 2px 3px 1px 3px;
                font-size: 8px;
                position: relative;
                left: 10px;
                top: -2px;
                display: inline-flex;
                background: #da312b;
            }
        }
    }
    &:hover {
        background: #313131;
    }
}
