.tracks-list {
    ul.header {
        list-style: none;
        display: flex;        
        justify-content: flex-start;
        padding: 20px;
        padding-left: 90px;
        border-bottom: 1px solid #2f2f2f;
        li {
        	font-size: 14px;
			flex: 0 1 33%;
        }
    }
}
