@import '../../../styles/helpers/_breakpoints.scss';
.about {
    color: #fff;
    padding: 30px;
    h2 {
        font-weight: 300;
        margin-bottom: 20px;
        @include breakpoint(phablet) {
            text-align: center;
        }
    }
    .me-section {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(phablet) {
            margin-right: 0;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 200px;
            height: 200px;
            margin-right: 20px;
        }
        p {
            font-size: 14px;
            margin-top: 20px;
            line-height: 1.4;
        }
    }
}
