@import '../../styles/helpers/_breakpoints.scss';
.user {
    color: #fff;
    .r-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3% 4%;
        .container {
            padding: 10px;
            padding-left: 0;
            display: block;
            overflow: hidden;
            width: 160px;
            min-width: 160px;
            max-width: 160px;
            margin-right: 20px;
            p.title {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
                font-size: 14px;
                margin-top: 10px;
            }
            .img-holder {
                width: 150px;
                height: 150px;
                text-align: center;
                position: relative;
                overflow: hidden;
                .bgImage {
                    background-size: cover;
                    filter: blur(7px) grayscale(20%);
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                img {
                    position: absolute;
                    max-height: 150px;
                    max-width: 150px;
                    // width: 100%;
                    // left: 0;
                    object-fit: contain;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }
    .hero-section {
        width: 100%;
        position: relative;
        overflow: hidden;
        .hero-bg-image {
            background: #2d2d2d no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
            position: absolute;
            filter: blur(10px) grayscale(100%);
            transform: scale(1.1, 1.1);
            width: 100%;
            height: 100%;
        }
        .hero-content {
            padding: 20px;
            min-height: 245px;
            justify-content: flex-start;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;
            img {
                margin-right: 30px;
                max-height: 300px;
                max-width: 300px;
                @include breakpoint(mobileonly) {
                    margin-right: 0;
                }
            }
            .info-section {
                color: #fff;
                align-self: flex-start;
                text-shadow: 0 0 22px rgba(0, 0, 0, 0.8);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    text-align: center;
                    &:first-of-type {
                        font-size: 50px;
                        font-weight: 300;
                        @include breakpoint(mobileonly) {
                            margin-top: 30px;
                        }
                    }
                    font-size: 14px;
                }
                @include breakpoint(mobileonly) {
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                }
            }
            @include breakpoint(mobileonly) {
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}
