@import '../../styles/helpers/_breakpoints.scss';
.playlist {
    color: #fff;
    .hero-section {
        width: 100%;
        min-height: 315px;
        background: #2d2d2d url('https://unsplash.it/g/978/300?random') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 20px;
        img {
            margin-right: 30px;
            max-height: 300px;
            @include breakpoint(tablet) {
                margin-right: 0;
            }
        }
        .info-section {
            color: #fff;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p {
                text-align: center;
                text-shadow: 0 0 22px rgba(0, 0, 0, 0.9);
                font-size: 50px;
                font-weight: 300;
                @include breakpoint(tablet) {
                    margin-top: 30px;
                }
            }
            @include breakpoint(tablet) {
                align-items: center;
            }
        }
        @include breakpoint(tablet) {
            align-items: center;
            justify-content: center;
        }
    }
}
