.categories-holder {
    padding: 50px;
    h2 {
        font-weight: 300;
        padding: 20px;
        padding-top: 0;
        color: #fff;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        .cat {
            cursor: pointer;
            margin-right: 5px;
            transition: all 0.2s;
            &:hover {
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
            }
        }
    }
}
