@import '../../styles/helpers/_breakpoints.scss';
#s-player {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background: #1f1f1f;
    display: flex;
    justify-content: space-between;
    color: #fff;
    >div[class^='audio-'] {
        padding: 20px;
    }
    .audio-info {
        flex: 1 0 25%;
        overflow-x: hidden;
        padding-right: 0 !important;
        .audio-name {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .audio-artists {
            @extend .audio-name;
            font-size: 10px;
            margin-top: 10px;
        }
    }
    .audio-controls {
        flex: 1 0 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px !important;
        position: relative;
        .seek-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0 15px 0;
            &.disabled {
                color: #7d7d7d;
            }
            i {
                cursor: pointer;
                &.next,
                &.prev {
                    font-size: 20px;
                }
            }
            .pause-btn {
                font-size: 40px;
                margin: 0 15px;
                &:before {
                    content: '\E036';
                }
                &:hover {
                    &:before {
                        content: '\E035';
                    }
                }
            }
            .play-btn {
                @extend .pause-btn;
                &:before {
                    content: '\E039';
                }
                &:hover {
                    &:before {
                        content: '\E038';
                    }
                }
            }
        }
    }
    .audio-volume {
        flex: 1 0 15%;
        padding-left: 0 !important;
        display: flex;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include breakpoint(phablet) {
            flex-direction: column-reverse;
            justify-content: center;
        }
        i.clear-queue {
            margin-right: 3%;
            cursor: pointer;
        }
        .vol-slider-holder {
            padding: 10px;
            position: relative;
            .volume {
                cursor: pointer;
                // margin-right: 20px;
                // padding-top: 26px;
                // position: relative;            
                &.down {
                    &:before {
                        content: '\E04D';
                    }
                }
                &.up {
                    &:before {
                        content: '\E050';
                    }
                }
                &.mute {
                    &:before {
                        content: '\E04E';
                    }
                }
                &.off {
                    &:before {
                        content: '\E04F';
                    }
                }
            }
            @include breakpoint(phablet) {
                padding-bottom: 0;
                padding-top: 0;
            }
            &:hover #vol-slider,
            &:focus #vol-slider {
                display: block !important;
            }
        }
    }
}
