@import './styles/base/_normalize.scss';
@import './styles/base/_variables.scss';

body {
    font-family: 'Roboto', sans-serif;
    background: #161712;
}

a{
	text-decoration: none;
	color: #fff;
}
